<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit">
    </form>
</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/login/css/style.css">

    <title>Asky Sign up Page</title>
  </head>
  <body>

        <div class="content centered">
          <div class="container">
            <div>
              <h3>Sign Up</h3>
              <p class="mb-4">Just a few more things...</p>
            </div>
            <form action="/signup" method="POST">
            
                
                <div class="form-group first">
                    <input type="text" name="userName" placeholder="User Name"class="form-control" id="username">
                </div>

                <div class="form-group first">
                    <input type="email" name="email" class="form-control" id="username" placeholder="Email">
                </div>

                <div class="form-group first">
                    <input type="password" name="password" placeholder="Password" class="form-control" id="username">
                </div>

                <div class="form-group first">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control" id="username">
                </div>
              

              <input type="submit" value="Log In" class="btn btn-block btn-primary">

            
            </form>
            </div>
          </div>
          

  
    <script src="/login/js/jquery-3.3.1.min.js"></script>
    <script src="/login/js/popper.min.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
    <script src="/login/js/main.js"></script>
  </body>
</html>